[submodule "onchain/lib/forge-std"]
	path = onchain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "onchain/lib/optimism"]
	path = onchain/lib/optimism
	url = https://github.com/ethereum-optimism/optimism
[submodule "onchain/lib/openzeppelin-contracts"]
	path = onchain/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "onchain/lib/relic-contracts"]
	path = onchain/lib/relic-contracts
	url = https://github.com/relic-protocol/relic-contracts
[submodule "onchain/lib/eip-4788-proof"]
	path = onchain/lib/eip-4788-proof
	url = https://github.com/madlabman/eip-4788-proof
[submodule "onchain/lib/Solidity-RLP"]
	path = onchain/lib/Solidity-RLP
	url = https://github.com/hamdiallam/Solidity-RLP
